<!-- json-ld -->
{% block javascript %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "name": "{{value.site.site_name}}ネットプラスのパンくずリスト",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "{{value.site.site_name}}ネット＋",
    "item": "{{value.site.plus_url}}/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "歯科医師を探す",
    "item": "{{value.site.plus_url}}/profile/"
  }]
}
</script>
{% endblock %}
<!-- /json-ld -->