<!-- json-ld -->
{% block javascript %}
<script type="application/ld+json">
[
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "headline": "インプラントネットプラス",
    "description": "日本全国のインプラント治療ができるおすすめの歯医者さんを紹介します。オールオン4やインプラントオーバーデンチャーなど、インプラント治療を検討中の方はぜひご覧ください。エリア毎にあなたに合う歯医者がきっと見つかります！また、インプラント治療にかかる費用や期間などの気になる情報も発信しています。",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://plus.implant.ac/"
    },
    "author": {
      "@type": "Organization",
      "name": "インプラントネットプラス編集部",
      "description": "インプラントネットプラス編集部は、運営歴22年の「インプラントネット」のネットワークや情報を元として、オールオン4やインプラントオーバーデンチャーなど、インプラント治療ができる歯医者さんの紹介やインプラント治療についての説明記事を配信しています！",
      "url": "https://plus.implant.ac/editorial/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "株式会社メディカルネット",
      "logo": {
      "@type": "ImageObject",
      "url": "https://plus.implant.ac/image/common/logo_medicalnet.png",
      "width":300,
      "height":300,
      "caption":"株式会社メディカルネット"
      }
    },
    "datePublished": "2023-07-31T10:00+09:00",
    "dateModified": "2024-12-06T10:00+09:00"
  },
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "url" : "https://plus.implant.ac/",
    "logo" : "https://plus.implant.ac/image/common/logo_implant.png",
    "name" : "インプラントネットプラス",
    "description": "日本全国のインプラント治療ができるおすすめの歯医者さんを紹介します。オールオン4やインプラントオーバーデンチャーなど、インプラント治療を検討中の方はぜひご覧ください。エリア毎にあなたに合う歯医者がきっと見つかります！また、インプラント治療にかかる費用や期間などの気になる情報も発信しています。"
  },
  {
    "@context": "https://schema.org/",
    "@type": "BreadcrumbList",
    "name": "インプラントネットプラスのパンくずリスト",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "インプラントネット＋",
      "item": "https://plus.implant.ac/"
    }]
  }
]
</script>
{% endblock %}
<!-- /json-ld -->