<!-- json-ld -->
{% block javascript %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "name": "インプラントネットプラスのパンくずリスト",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "インプラントネット＋",
    "item": "https://plus.implant.ac/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "インプラント対応おすすめ歯医者",
    "item": "https://plus.implant.ac/recommend/"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "{{value.city.pref_name}}でインプラント治療ができるおすすめ歯医者",
    "item": "https://plus.implant.ac/recommend/{{value.city.pref_pathname}}/"
  }
  {% if value.city.city_id > 47 %}
  ,{
    "@type": "ListItem",
    "position": 4,
    "name": "{{value.city.pref_city}}でインプラント治療ができるおすすめ歯医者",
    "item": "https://plus.implant.ac/recommend/{{value.city.pref_pathname}}/{{value.city.city_pathname}}/"
  }
  {% else %}
  {% if value.headline.page > 1 %}
  ,{
    "@type": "ListItem",
    "position": 4,
    "name": "{{value.headline.page}}ページ目",
    "item": "https://plus.implant.ac/recommend/{{value.city.pref_pathname}}/?page={{value.headline.page}}"
  }
  {% endif %}
  {% endif %}
  ]
}
</script>
{% endblock %}
<!-- /json-ld -->