{% if value.recommends|length > 0 %}
{% for key, row in value.recommends %}
<div class="recommend__{{value.row_type}}-wrapper">
	<a href="{{value.headline.path}}{{row.url}}">
		<div class="recommend__{{value.row_type}}-item">
			<img src="{{row.image_url}}" alt="{{row.image_attr}}">
			{% if value.row_type is same as ('list') %}
			<h2 class="recommend__list-text">
				<span class="title__year">【{{row.updated_in}}】</span>{{row.title}}
			</h2>
			{% elseif value.row_type is same as ('slide') %}
			<h3 class="recommend__slide-text">
				<span class="title__year">【{{row.updated_in}}】</span>{{row.title}}
			</h3>
			{% endif %}
		</div>
	</a>
</div>
{% endfor %}
{% endif %}
