{% if value.recommends|length > 0 %}
{% for key, row in value.recommends %}
<div class="search__{{value.row_type}}Railway-wrapper">
	<a href="{{value.headline.path}}{{row.url}}">
		<div class="search__{{value.row_type}}Railway-item">
			<img src="{{row.image_url}}" alt="{{row.image_attr}}">
			{% if value.row_type is same as ('list') %}
			<h2 class="search__listRailway-text">
				<span class="title__year">【{{row.updated_in}}】</span>{{row.title}}
			</h2>
			{% elseif value.row_type is same as ('slide') %}
			<h3 class="search__slideRailway-text">
				<span class="title__year">【{{row.updated_in}}】</span>{{row.title}}
			</h3>
			{% endif %}
		</div>
	</a>
</div>
{% endfor %}
{% endif %}
