<div class="row">
	<div class="input-set w100">
		<p class="input-title" id="feature_title_{{value.feature_id}}">特長見出し{{value.feature_id_circle}}</p>
		<input type="hidden" name="feature_title_{{value.feature_id}}_ttl" value="特長見出し{{value.feature_id_circle}}" />
		<input type="text" name="feature_title[{{value.feature_id}}]" value="" class="w100" placeholder="">
	</div>
</div>
<div class="row">
	<div class="input-set w100">
		<p class="input-title" id="feature_text_{{value.feature_id}}">特長文{{value.feature_id_circle}}</p>
		<input type="hidden" name="feature_text_{{value.feature_id}}_ttl" value="特長文{{value.feature_id_circle}}" />
		<textarea name="feature_text[{{value.feature_id}}]" class="w100" placeholder="テキスト入力"></textarea>
	</div>
</div>