				<tr>
					<td class="start-end">
						<input type="text" name="start_at[]" value="00:00" placeholder="00:00" class="validate[custom[requiredInFunction],custom[time]]"><br class="u-only_sp">
						〜<br class="u-only_sp">
						<input type="text" name="end_at[]" value="00:00" placeholder="00:00" class="validate[custom[requiredInFunction],custom[time]]">
					</td>
					<td>
						<select name="is_mon_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_tue_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_wed_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_thu_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_fri_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_sat_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>
					<td>
						<select name="is_sun_open[]">
							<option value="0">ー</option>
							<option value="1">△</option>
							<option value="2" selected>●</option>
						</select>
					</td>					
					<td><a class="btn circle orange remove kyousei-color"><span class="material-icons">remove</span></a></td>
				</tr>